@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary: #FBA94C;
    --primary: #f8f9fa;
    --primary-form: #3112782d;
    --black: #212141;
    --text-color: #253A44;
    --white: #fff;
    --green: #329226;
}

.type-fire {
    color: #FFFFFF;
    background-color: #FD7D24;
}

.type-water {
    color: #FFFFFF;
    background-color: #4592C4;
}

.type-ground {
    color: #000000;
    background-image: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.type-rock {
    color: #FFFFFF;
    background-color: #a38c21;
}

.type-flying {
    color: #000000;
    background-image: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--primary);
    display: flex;
    flex-direction: column;
}

.main {
    min-width: 70%;

    margin: 0 auto;
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.content {
    width: 90%;
    max-width: 1400px;
}

form {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    max-width: 1400px;
}

form input[type="text"] {
    width: 70%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    font-size: 1.5rem;
    font-weight: 700;
}

form > button {
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    background: var(--green);
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form > button:hover {
    box-shadow: rgba(135, 9, 19, 0.2) 0px 18px 24px;
    font-weight: 700;
    cursor: pointer;
}

ul {
    margin-top: 10px;
    background: var(--primary);
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    list-style: none;
    min-width: 100%;
    min-height: 300px;
    border-radius: 4px;

    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 28px 0px;
    padding-bottom: 30px;
    color: #3e4345c1;
}

li .content-1 {
    min-width: 90%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content-1 .content-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content-1 .content-2 > p {
    margin-top: 20px;
    margin-left: 20px;
}

li > h2 {
    font-size: 32px;
    margin-top: -2px;
    margin-bottom: 0px;
    background: #eeeaea1d;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: center;
}

li .content-1 .sprite {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 60px 40px 60px;
}

li .content-1 img {
    width: 300px;
    height: 300px;
}

.details-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    min-width: 90%;
    background-color: #6b6b6b50;
    border-radius: 25px;
    margin: 12px 0px;
    padding: 32px 0px;
    row-gap: 22px;
}

.details-1 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px 0px;
}

.details-1 > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.details-1 > div > p {
    font-size: large;
    font-weight: 700;
}

.details-2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.details-2 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-2 > div > p {
    font-size: 18px;
    font-weight: 700;
}

.details-2 > div > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 14px;
}

.details-2 div span {
    text-align: center;
    font-weight: 400;
    padding: 4px 22px;
    border-radius: 6px;
    width: 100px;
    height: 36px;
    cursor: pointer;
    transition: 200ms;
    border: 1px solid gray;
}

.details-2 div span:hover {
    transform: scale(1.14);
}

@media screen and (min-width: 600px) and (max-width: 1100px) {

    .main {
        width: 100%;
        margin-top: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form > input[type="text"] {
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #b7b7b7;
    }

    form > button {
        width: 100%;
        padding: 8px;
    }

    li .content-1 {
        min-width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
    }

    .content .content-2 {
        align-items: center;
        gap: 10px;
    }

    .content-1 .content-2 p {
        margin: 0px 40px;
    }

    .details-1 {
        margin: 0;
    }

}

/* max-width  */
@media screen and (max-width: 600px) {
    .main {
        width: 100%;
        margin-top: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form > input[type="text"] {
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #b7b7b7;
    }

    form > button {
        width: 100%;
        padding: 8px;
    }

    li .content-1 {
        min-width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-1 .content-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    li .content-1 p {
        font-size: 18px;
        margin: 0px 20px;
    }

    .content-1 .sprite {
        padding: 0;
    }

    .details-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        min-width: 80%;
        background-color: #6b6b6b50;
        border-radius: 25px;
        margin: 20px 0px;
        padding: 12px 0px;
    }

    .details-1 > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 10px 0px;
    }

    .details-1 > div > p {
        font-size: large;
        font-weight: 700;
    }

    .details-2 {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .details-2 > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .details-2 > div > p {
        font-size: 18px;
        font-weight: 700;
    }

    .details-2 > div > div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 14px;
    }

    .details-2 div span {
        text-align: center;
        font-weight: 400;
        padding: 4px 22px;
        border-radius: 6px;
        width: 100px;
        height: 36px;
        cursor: pointer;
        transition: 200ms;
        border: 1px solid gray;
    }

    .details-2 div span:hover {
        transform: scale(1.14);
    }
}